.btn {
  display: inline-block;
  margin: 0 auto;
  padding: 13px 26px 14px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 0.87rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  color: inherit;
  border: 1px solid $white;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}
