.feedback {
  padding: 96px 0 113px;
  color: $white;
  background-color: $blue;

  background-image:
    url("../img/feedback-airplane@1x.png"),
    url("../img/feedback-bg@1x.png");
  background-repeat: no-repeat;
  background-size: 40% auto, 100% auto;
  background-position: center left 10%;

  @media (min-resolution: $retina) {
    background-image: url("../img/feedback-airplane@2x.png");
  }

  @media (max-width: $tablet) {
    background-image: none;
  }
}

.feedback__wrapper {
  display: flex;

  @media (max-width: $mobile) {
    display: block;
  }
}

.feedback h2 {
  @include visually-hidden;
}

.feedback h3 {
  @include title;

  margin-bottom: 7px;
}

.feedback p {
  margin: 0;
}

.feedback__form {
  margin-left: auto;
  max-width: 50%;

  @media (max-width: $tablet) {
    max-width: none;
  }
}
