.form form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: -30px;

  @media (max-width: $mobile) {
    display: block;
  }
}

.form__field {
  margin-bottom: 38px;
  margin-left: 30px;
  flex: 1 1 auto;

  & label {
    font-size: 0.87rem;
  }

  &--textarea {
    min-width: 450px;
  }

  &--checkbox {
    margin-bottom: 0;
    flex-basis: 230px;
    padding-top: 0.4rem;
    padding-left: 2.5rem;
  }

  @media (max-width: $tablet) {
    &--textarea {
      flex: 0 1 960px;
      min-width: auto;
    }
  }
}

.form textarea {
  resize: none;
}

.form textarea,
.form input {
  padding: 17px 20px;
  width: 100%;
  font-size: 1rem;
  color: rgba($white, 0.7);
  background-color: rgba($white, 0.1);
  border: 0;

  &::placeholder {
    font-family: $pt-mono;
    font-size: 1rem;
    color: $white;
  }

  &:focus,
  &:hover {
    outline: 1px solid $white;
    box-shadow: 0 0 0 1px $white;
  }
}

.form__btn {
  margin-left: 33px;
  // min-width: 270px;
  flex: 1 1 230px;
}

.form__field--checkbox input {
  @include visually-hidden;

  &:checked + span {
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 2L3.5 5L8 0.5' stroke='white'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
  }

  &:focus + span {
    outline: 2px solid $white;
  }
}

.form__field--checkbox span {
  position: absolute;
  margin-left: -2rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid $white;
  cursor: pointer;
}
