.header {
  padding: 33px 0 100px;
  min-height: 877px;
  color: $white;
  background: url("../img/intro-bg@1x.png") no-repeat center;
  background-size: cover;
  background-color: $dark;
  overflow-x: hidden;

  @media (max-width: $tablet) {
    margin-bottom: 54px;
    padding: 20px 0;
    min-height: 686px;
    background-position: top;
  }

  @media (max-width: $mobile) {
    padding-top: 16px;
    padding-bottom: 69px;
    margin-bottom: 37px;
    min-height: auto;
  }
}

.header__wrapper {
  position: relative;
  max-width: 1530px;
}

.header__inner {
  display: flex;
  align-items: center;
  margin-bottom: 173px;

  @media (max-width: $tablet) {
    margin-bottom: 41px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 38px;
  }
}

.header__intro {
  display: flex;
}

.header__logo {
  margin-left: -3px;
  flex-shrink: 0;

  @media (max-width: $tablet) {
    margin-left: 0;
  }

  @media (max-width: $mobile) {
    margin-left: 2px;
  }
}

.header__contacts {
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 33px;

  @media (max-width: $tablet) {
    margin-right: 4px;
    margin-bottom: 3px;
  }
}

.header__btn {
  flex-shrink: 0;
  transition: background-color $easy;

  @media (max-width: $tablet) {
    @include visually-hidden;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $blue;
    border-color: $dark;
  }
}
