.intro {
  padding: 140px 0;
  display: flex;
}

.intro h1 {
  margin: 0 0 2rem;
  font-family: $roboto;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5rem;
  line-height: 5.87rem;
  letter-spacing: 0.07rem;
}

.intro p {
  margin: 0 0 37px 5%;
  font-size: 1.37rem;
  line-height: 2.12rem;
}

.intro picture {
  background-color: transparent;
}

.intro__btn {
  margin-left: 5%;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: $blue;
  border: none;
}

.intro__link--mobile {
  display: none;
}
