.page-main {
  padding: 113px 0 0;
  background: url("../img/main-bg.svg") no-repeat top -28px center;
  background-size: 100%;

  @media (max-width: $tablet) {
    padding-top: 55px;
  }

  @media (max-width: $mobile) {
    padding-top: 36px;
  }
}
