.feedback {
  padding: 91px 0 111px;
  color: $white;
  background-color: $blue;

  background-image:
    url("../img/feedback-airplane@1x.png"),
    url("../img/feedback-bg.svg");
  background-repeat: no-repeat;
  background-size: 26.5% auto, 91% auto;
  background-position:
    top 160px left 25%,
    top -62px right;

  @media (min-resolution: $retina) {
    background-image: url("../img/feedback-airplane@2x.png");
  }

  @media (max-width: $tablet) {
    padding-top: 81px;
    padding-bottom: 105px;
    background-image: none;
  }

  @media (max-width: $mobile) {
    padding-top: 32px;
    padding-bottom: 12px;
  }
}

.feedback textarea {
  min-height: 158px;

  @media (max-width: $mobile) {
    min-height: auto;
  }
}

.feedback__wrapper {
  display: flex;

  @media (max-width: $mobile) {
    display: block;
  }
}

.feedback h2 {
  @include visually-hidden;
}

.feedback h3 {
  @include title;

  margin-bottom: 11px;

  @media (max-width: $tablet) {
    margin-bottom: 18px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 12px;
  }
}

.feedback p {
  margin: 0;
  padding-left: 3px;

  @media (max-width: $mobile) {
    margin-left: -3px;
    line-height: 22px;
  }
}

.feedback__form {
  margin-left: auto;
  max-width: 49%;

  @media (max-width: $tablet) {
    margin: 0 auto;
    max-width: 82%;
  }

  @media (max-width: $mobile) {
    max-width: none;
  }
}
