@mixin list-style-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin title {
  margin: 0;
  font-family: $roboto;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 3.19rem;
  color: inherit;

  @media (max-width: $tablet) {
    font-size: 2rem;
    line-height: 140.62%;
  }

  @media (max-width: $mobile) {
    font-size: 1.75rem;
  }
}
